@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Car Site</h1>
    <a  asp-controller="Car" asp-action="Index" class="btn btn-primary">View Cars</a>
</div>
